@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}
body {
  background: linear-gradient(to right, rgb(168, 203, 236), rgb(27, 5, 148));
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header,form {
  font-size: 1.5rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: wheat;
}
form input,form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #fff;
}

form button {
  color: #060827;
  background: #fff;
  cursor: pointer;
  transition: all 0, 3s ease;
}
form button:hover {
  background: #060827;
  color: #fff;
}
